<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добро пожаловать</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            color: #333;
            text-align: center;
            padding: 50px;
        }

        h1 {
            color: #0066cc;
        }
    </style>
</head>
<body>
    <h1>Турагенство "ТУР"!</h1>
</body>


<p>Перейти к списку заказанных туров: <a href="http://localhost:8000/btest/tours/">Туры</a></p>
<p>Перейти к списку курортов: <a href="http://localhost:8000/btest/resorts/">Курорты</a></p>

</html>
